.welcome-header {
    font-family: 'Original Surfer', cursive;
    color :var(--sub-color);
    margin: 90px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-header__title {
    margin-bottom: 40px;
    font-size: 28px;
}

.welcome-header__text {
    width: 70%;
    font-size: 18px;
}

.login-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form__input {
    background-color: var(--main-color);
    width: 100%;
    border: none;
    padding: 15px 0px;
    font-size: 18px;
    margin-bottom: 25px;
    border-bottom:2px solid rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease-in-out;
    align-items: center;
}
.login-form__input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}
.login-form__btn {
    width: 100%;
    color: white;
    background-color: var(--sub-color);
    cursor: pointer;
    padding: 20px 0px;
    border-radius: 5px;
    font-size: 16px;
}
.login-form__link {
    margin-top: 15px;
    text-align: center;
    color: inherit;
    font-size: 15px;
    font-weight: 600;
}